{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_$help_file"}
<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<html {$HTML_PARAMS}>
<head>
<base href="{$HREF}">
<title>{$TITLE}</title>
<link rel="stylesheet" type="text/css" href="templates/{$smarty.const.CURRENT_TEMPLATE}/stylesheet.css">
</head>

<body>

<div class="page">
<div class="pagecontent">
<p>
<span class="bold">{#heading_summary_help#}</span>
</p>
<p>
{#text_topic_help#}
</p>
</div>
<div class="pagecontentfooter">
<a href="javascript:window.close()">{#text_close_window#}</a>
</div>
</div>

</body>
</html>
