<!-- Заголовок страницы -->
<h1>{$CONTENT_HEADING}</h1>
<!-- /Заголовок страницы -->
<!-- Скругленные углы -->
<div class="page">
<!-- Содержимое страницы -->
<div class="pagecontent">

{foreach name=aussen item=sub_pages from=$sub_pages_content}
&nbsp;&nbsp;&nbsp;<a href="{$sub_pages.PAGE_LINK}">{$sub_pages.PAGE_TITLE}</a><br />
{/foreach} 

{if $file}
  {$file}
{else}
<p>
  {$CONTENT_BODY}
</p>
{/if}
</div>
<!-- /Содержимое страницы -->
<!-- /Скругленные углы -->
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
</div>