{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс новости -->
<div class="title"><a href="{$NEWS_LINK}">{#heading_news#}</a></div>
<div class="block">
    {foreach name=aussen item=module_data from=$module_content}
        <p>{$module_data.NEWS_DATA}</p>
        <p><b><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></b></p>
        <p>{$module_data.NEWS_CONTENT|vam_truncate:$smarty.const.MAX_DISPLAY_LATEST_NEWS_CONTENT:" ..."}</p>
     {/foreach}
</div>
<!-- /Бокс новости -->