{config_load file="$language/lang_$language.conf" section="login"}<script type="text/javascript" src="jscript/modified.js"></script>
<script type="text/javascript">
{literal}
$(document).ready(function(){

$(function () {
    $('#login :input:text:visible:enabled:first').focus();
})

})
{/literal}
</script>
<h1>{#heading_login#}</h1>
{$FORM_ACTION}
{if $info_message!=''}<div class="contacterror">{$info_message}</div>
{/if}<div class="page">
<div class="pagecontent">
{if $account_option=='account' or $account_option=='both'} <dl class="Login">
<dt class="Login">
</dt>

<dd class="Login">
<span class="bold">{#title_new#}</span>
</dd>

<dd>
{#text_new#}
</dd>

<dd>
{$BUTTON_NEW_ACCOUNT}
</dd>

</dl>
<dl class="Login">
<dt class="Login">
</dt>

<dd>
{#text_returning#}
</dd>

<dd>
<!-- форма -->
<fieldset class="form">
<legend>{#title_returning#}</legend>
{if $CAPTCHA_IMG !=''}<p>{$CAPTCHA_IMG} {$CAPTCHA_INPUT}</p>{/if}
<p>{#text_email#} {$INPUT_MAIL}</p>
<p>{#text_password#} {$INPUT_PASSWORD}</p>
</fieldset>
<!-- /форма -->

<p>
<a href="{$LINK_LOST_PASSWORD}">{#text_lost_password#}</a>
</p>
<p>
{$BUTTON_LOGIN}
</p>

</dd>

</dl>
<div class="clear"></div>
{/if}
{if $account_option=='both' or $account_option=='guest'}<br /><dl class="Login">
<dt class="Login">
</dt>

<dd class="Login">
<span class="bold">{#title_guest#}</span>
</dd>

<dd>
{#text_guest#}
</dd>

<dd>
{$BUTTON_GUEST}
</dd>

</dl>

<div class="clear"></div>
{/if}
</div>
</div>
{$FORM_END}