{config_load file="$language/lang_$language.conf" section="new_products"} 			<div class="new">
				<div class="title"><h2><a href="{$NEW_PRODUCTS_LINK}">{#heading_text#}</a></h2></div>
				<ul>
					{foreach name=aussen item=module_data from=$module_content}					<li>
						{if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" title="{$module_data.PRODUCTS_NAME}" /></a>{/if}
						<h3><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h3>
						<span><strong>{$module_data.PRODUCTS_PRICE}</strong></span>
						{$module_data.PRODUCTS_BUTTON_BUY_NOW}
					</li>
					{/foreach} 
				</ul>
			</div>