{config_load file="$language/lang_$language.conf" section="account_history"}
<div class="title">{#heading_history#}</div>

<div class="text_place">
    <!-- Список заказов -->
    {foreach name=aussen item=order_data from=$order_content}
        <div class="page">
            <div class="pagecontent">
                <p><b>{#text_oid#}</b> {$order_data.ORDER_ID}</p>
                <p><b>{#text_date#}</b> {$order_data.ORDER_DATE}</p>
                <p><b>{#text_articles#}</b> {$order_data.ORDER_PRODUCTS}</p>
                <p><b>{#text_total#}</b> {$order_data.ORDER_TOTAL}<br/>
                   <b>{#text_status#}</b> {$order_data.ORDER_STATUS}</p>
                <p>{$order_data.ORDER_BUTTON}</p>
            </div>
        </div>
    {/foreach}

    <div class="clear"></div>
    <div class="navigation">
    <span class="right">{$SPLIT_BAR}</span>{$SPLIT_BAR_PAGES}
    </div>
    <div class="clear"></div>

    <div class="pagecontentfooter">
    {$BUTTON_BACK}
    </div>
    <!-- /Список заказов -->
</div>