		<script type="text/javascript">
		{literal}
			$(document).ready(function() {
				$("div#qiwi").hide();
				$("div#schet").hide();
				$("div#kvitancia").hide();
				$("div#aviso").hide();
					$("input#qiwi").click(function (){
						$("div#qiwi").show();
					});
					$("input#schet").click(function (){
						$("div#schet").show();
					});
					$("input#kvitancia").click(function (){
						$("div#kvitancia").show();
					});
					$("input#aviso").click(function (){
						$("div#aviso").show();
					});
			});
		{/literal}
		</script>

<table>
    {foreach name=aussen item=module_data from=$module_content}
    <tr class="tr_conf"><td>
        <table width="100%">
        <tr>
            <td>{$module_data.selection} <span class="bold">{$module_data.module}</span> <span class="bold">{$module_data.module_cost}</span></td>
            <td width="200px" align="center">{$module_data.icon}</td>
        </tr>

        {if $module_data.description}
        <tr>
            <td colspan="2">{$module_data.description}</td>
        </tr>
        {/if}
        {if $module_data.error}
        <tr>
            <td colspan="2">{$module_data.error}</td>
        </tr>
        {else}
        {foreach name=aussen item=method_data from=$module_data.fields}
        <tr>
            <td>{$method_data.title}</td>
            <td>{$method_data.field}</td>
        </tr>
        {/foreach}
        {/if}
        </table>
    </td></tr>
    {/foreach}
</table>