{config_load file="$language/lang_$language.conf" section="contact_us"}
<script type="text/javascript" src="jscript/modified.js"></script>
<script type="text/javascript">
{literal}
$(document).ready(function(){

$(function () {
    $('#contact_us :input:text:visible:enabled:first').focus();
})

})
{/literal}
</script>

<div class="title">{$CONTACT_HEADING}</div>

<div class="text_place">
    {if $error_message!=''}
        <div class="contacterror">{$error_message}</div>
    {/if}
    
    {if $success!='1'}
        {$FORM_ACTION}
            <div class="page">
                <div class="pagecontent">
                    {$CONTACT_CONTENT}
                    <br />
                    <table>
                        <tr>
                            <td>{#text_name#}</td>
                            <td>{$INPUT_NAME}</td>
                        </tr>
                        <tr>
                            <td>{#text_email#}</td>
                            <td>{$INPUT_EMAIL}</td>
                        </tr>
                        <tr>
                            <td>{#text_message#}</td>
                            <td>{$INPUT_TEXT}</td>
                        </tr>
                    </table>
                 </div>
                 <div class="pagecontentfooter">{$BUTTON_SUBMIT}</div>
            </div>
        {$FORM_END}
    {else}
        {#text_success#}
        <div class="pagecontentfooter">{$BUTTON_CONTINUE}</div>
    {/if}
</div>