{config_load file="$language/lang_$language.conf" section="create_account"}
<div class="title">{#heading_create_account#}</div>

<div class="text_place">
    {$FORM_ACTION}
        {if $error!=''}
        {$error}
        {/if}
        <div class="page">
        <div class="pagecontent">
        <span class="Requirement">{#text_must#}</span>
        <br />
        
        <table>
            <tr>
                <td></td>
                <td><h2>{#title_personal#}</h2></td>
            </tr>
            {if $gender=='1'}
            <tr>
                <td>{#text_gender#}</td>
                <td>{$INPUT_MALE}&nbsp;{$INPUT_FEMALE}</td>
            </tr>
            {/if}
            <tr>
                <td>{#text_firstname#}</td>
                <td>{$INPUT_FIRSTNAME}</td>
            </tr>
            {if $secondname=='1'}
            <tr>
                <td>{#text_secondname#}</td>
                <td>{$INPUT_SECONDNAME}</td>
            </tr>
            {/if}
            <tr>
                <td>{#text_lastname#}</td>
                <td>{$INPUT_LASTNAME}</td>
            </tr>
            {if $birthdate=='1'}
            <tr>
                <td>{#text_birthdate#}</td>
                <td>{$INPUT_DOB}</td>
            </tr>
            {/if}
            <tr>
                <td>{#text_email#}</td>
                <td>{$INPUT_EMAIL}</td>
            </tr>
            <tr>
                <td>{#text_newsletter#}</td>
                <td>{$INPUT_NEWSLETTER}</td>
            </tr>
            
            {if $company=='1'}
                <tr>
                    <td></td>
                    <td><h2>{#title_company#}</h2></td>
                </tr>
                <tr>
                    <td>{#text_company#}</td>
                    <td>{$INPUT_COMPANY}</td>
                </tr>
                {if $vat=='1'}
                <tr>
                    <td>{#text_ustid#}</td>
                    <td>{$INPUT_VAT}</td>
                </tr>
                {/if}
            {/if}
            
            {if $street_address=='1'}
            <tr>
               <td></td>
               <td><h2>{#title_address#}</h2></td>
            </tr>
            {/if}
            {if $street_address=='1'}
            <tr>
                <td>{#text_street#}</td>
                <td>{$INPUT_STREET}</td>
            </tr>
            {/if}
            {if $suburb=='1'}
            <tr>
                <td>{#text_suburb#}</td>
                <td>{$INPUT_SUBURB}</td>
            </tr>
            {/if}
            {if $postcode=='1'}
            <tr>
                <td>{#text_code#}</td>
                <td>{$INPUT_CODE}</td>
            </tr>
            {/if}
            {if $city=='1'}
            <tr>
                <td>{#text_city#}</td>
                <td>{$INPUT_CITY}</td>
            </tr>
            {/if}
            {if $state=='1'}
            <tr>
                <td>{#text_state#}</td>
                <td><span id="stateXML">{$INPUT_STATE}</span></td>
            </tr>
            {/if}
            {if $country=='1'}
            <tr>
                <td>{#text_country#}</td>
                <td>{$SELECT_COUNTRY}</td>
            </tr>
            {/if}
            
            {if $telephone=='1'}
            <tr>
               <td></td>
               <td><h2>{#title_contact#}</h2></td>
            </tr>
            {/if}
            {if $telephone=='1'}
            <tr>
                <td>{#text_tel#}</td>
                <td>{$INPUT_TEL}</td>
            </tr>
            {/if}
            {if $fax=='1'}
            <tr>
                <td>{#text_fax#}</td>
                <td>{$INPUT_FAX}</td>
            </tr>
            {/if}
            
            {if $INPUT_CUSTOMERS_EXTRA_FIELDS}
            <tr>
               <td></td>
               <td><h2>{#title_options#}</h2></td>
            </tr>
            {foreach item=customers_extra_filelds from=$INPUT_CUSTOMERS_EXTRA_FIELDS}
            <tr>
                <td>{$customers_extra_filelds.NAME}:</td>
                <td>{$customers_extra_filelds.VALUE}</td>
            </tr>
            {/foreach}
            {/if}
            <tr>
               <td></td>
               <td><h2>{#title_password#}</h2></td>
            </tr>
            <tr>
                <td>{#text_password#}</td>
                <td>{$INPUT_PASSWORD}</td>
            </tr>
            <tr>
                <td>{#text_confirmation#}</td>
                <td>{$INPUT_CONFIRMATION}</td>
            </tr>
        </table>

        <!-- /форма -->
        </div>
        </div>

        <div class="pagecontentfooter">
        {$BUTTON_SUBMIT}
        </div>
    {$FORM_END}
</div>