{config_load file="$language/lang_$language.conf" section="error_handler"}

<div class="title">{$ERROR}</div>

<div class="text_place">
    {$FORM_ACTION}
        <div class="page">
            <div class="pagecontent">
                {if $CATEGORIES_NAME}{$CATEGORIES_NAME}<br />{/if}
                {if $CATEGORIES_DESCRIPTION}{$CATEGORIES_DESCRIPTION}<br />{/if}
                {#text_search_again#}
                <br />
                <p>{$INPUT_SEARCH}</p>
                <p>{$BUTTON_SUBMIT}</p>
            </div>
        </div>

        <div class="pagecontentfooter">{$BUTTON}</div>
    {$FORM_END}
</div>