{config_load file="$language/lang_$language.conf" section="new_products"}
<div class="title"><a href="{$NEW_PRODUCTS_LINK}">{#heading_text#}</a></div>

<div class="row catalog">
{foreach name=aussen item=module_data from=$module_content}
    <div class="item">
		<div class="mid">
            {if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" title="{$module_data.PRODUCTS_NAME}" /></a>{/if}
            <a href="{$module_data.PRODUCTS_LINK}"><span>{$module_data.PRODUCTS_NAME}</span></a>
        </div>
		<div class="bot">
			<div class="price">{$module_data.PRODUCTS_PRICE}</div>
			<div class="in_cart">
                {$module_data.PRODUCTS_BUTTON_BUY_NOW}
            </div>
		</div>
	</div>
{/foreach}
</div>