{config_load file="$language/lang_$language.conf" section="newsletter"}
<div class="title">{#heading_title#}</div>

<div class="text_place">

    {if $info_message!=''}
    <div class="contacterror">{$info_message}</div>
    {/if}

    {$FORM_ACTION}
        <div class="page">
        <table>
            <tr>
                <td>{#text_sec_code#}</td>
                <td>{$CAPTCHA_IMG}</td>
            </tr>
            <tr>
                <td>{#text_sec_code#}</td>
                <td>{$CAPTCHA_INPUT}</td>
            </tr>
            <tr>
                <td>{#text_email#}</td>
                <td>{$INPUT_EMAIL}</td>
            </tr>
            <tr>
                <td></td>
                <td>{$CHECK_INP}{#text_in#}</td>
            </tr>
            <tr>
                <td></td>
                <td>{$CHECK_DEL}{#text_out#}</td>
            </tr>
        </table>

        </div>

        <div class="pagecontentfooter">
        {$BUTTON_SEND}
        </div>
    {$FORM_END}
</div>