{config_load file="$language/lang_$language.conf" section="index"}
        
<div class="wrapper">
	<div class="side_l"><div class="side_r">
		<!-- start HEADER -->
		<div class="header">
			<div class="in">
				<a href="#" class="flr home">главная</a>
				<div class="fll logo">
					<a href="#">peruart.ru</a>
					<p>exclusive hand made Peru</p>
				</div>
				<div class="flr mini_cart">
					<div class="in">
						<div class="chest"></div>
						<div class="title">Корзина</div>
						<p>Товаров:</p>
						<p>На сумму:</p>
					</div>
				</div>
				<div class="menu">
					<div class="inner">
						<div class="flower_l"></div>
						<div class="flower_r"></div>
						<ul>
							<li><a href="#">Главня</a></li>
							<li><a href="#">Корзина</a></li>
							<li><a href="#">Оформить</a></li>
							<li><a href="#">Вход</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end HEADER -->
		<div class="container">
			<div class="in">
				<!-- start CONTENT -->
				<div class="content">
					<div class="ornament left"></div><div class="ornament right"></div>
					
					<div class="breadcrumbs">
						<a href="#">Главная</a> -> <span>Браслеты</span>
					</div>
					
					<div class="title">Новинки</div>
					
					<div class="row catalog">
						
						<div class="item">
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="top"></div>
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="top"></div>
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="top"></div>
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
						<div class="item">
							<div class="top"></div>
							<div class="mid"><a href="#"><img src="images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
					</div>
					
					<div class="title">Экзотические украшения ручной работы из Перу</div>
					
					<div class="text_place">
						<p>Из этого источника давно черпают вдохновение известные кутюрье и талантливые стилисты. Это древние культуры и цивилизации. Именно они породили в современной моде явление, называемое этническим стилем. Этнические украшения ручной работы действительно обладают особенной энергетикой и изысканностью, которую способны прочувствовать только люди с безупречным вкусом.</p>
						<p>В интернет магазине PeruArt вы можете выбрать для себя оригинальные украшения, сделанные в этническом стиле и привезенные прямо из Перу, – страны, которая находится на противоположной от центрального региона России стороне земли. Частичка уникальной цивилизации – изделия, сохранившие в себе тайну эстетики и природной красоты древнего народа, нашедшего ключ к гармонии и совершенству этого мира.</p>
					</div>
					
				</div>
				<!-- end CONTENT -->
			</div>
			<!-- start LEFT -->
			<div class="left-block">
			
				<div class="title">Категории</div>
				<div class="block">
					<ul>
						<li><a href="#">Браслеты</a></li>
						<li><a href="#">Браслеты</a></li>
						<li><a href="#">Браслеты</a></li>
						<li><a href="#">Браслеты</a></li>
						<li><a href="#">Браслеты</a></li>
					</ul>
				</div>
				
				<div class="title">Информация</div>
				<div class="block">
					<p>В интернет магазине PeruArt вы можете выбрать для себя оригинальные украшения, сделанные в этническом стиле и привезенные прямо из Перу, – страны, которая находится на противоположной от центрального региона России стороне земли.</p>
				</div>
				
				<div class="title">Поиск</div>
				<div class="block src">
					<form action="">
						<div>
							<input type="text" class="txt" value="ПОИСК" onfocus="this.value = '';" />
							<input type="submit" class="submit" value="" />
						</div>
					</form>
				</div>
				
				<div class="title">Авторизация</div>
				<div class="block enter">
					<form action="">
						<p><input type="text" class="txt" value="Логин" onfocus="this.value = '';" /></p>
						<p><input type="text" class="txt" value="Пароль" onfocus="this.value = '';" /></p>
						<div class="t_right"><a href="#">Забыли пароль?</a></div>
						<div class="t_center"><input type="submit" class="submit" value="ВОЙТИ" /></div>
					</form>
				</div>
			
			</div>
			<!-- end LEFT -->
		</div>
		<!-- start FOOTER -->
		<div class="footer">
			<div class="ornament1"></div><div class="ornament2"></div>
			<div class="text">какая-то инфа</div>
		</div>
		<!-- end FOOTER -->
	</div></div>
</div>