{config_load file="$language/lang_$language.conf" section="index"}
        
<div class="wrapper">
	<div class="side_l"><div class="side_r">
		<!-- start HEADER -->
		<div class="header">
			<div class="in">
				<a href="#" class="flr home">главная</a>
				<div class="fll logo">
					<a href="#">peruart.ru</a>
					<p>exclusive hand made Peru</p>
				</div>
				{$box_CART}
				<div class="menu">
					<div class="inner">
						<div class="flower_l"></div>
						<div class="flower_r"></div>
						<ul>
							<li><a href="{$mainpage}">{#text_mainpage#}</a></li>
                            {if $account}{if $smarty.session.customer_id}
                                <li><a href="{$account}">{#link_account#}</a></li>
                            {/if}{/if}
							<li><a href="{$cart}">{#link_cart#}</a></li>
							<li><a href="{$checkout}">{#link_checkout#}</a></li>
							{if $smarty.session.customer_id}
                                <li><a href="{$logoff}">{#link_logoff#}</a></li>
                            {else}
                                <li><a href="{$login}">{#link_login#}</a></li>
                            {/if}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end HEADER -->
		<div class="container">
			<div class="in">
				<!-- start CONTENT -->
				<div class="content">
					<div class="ornament left"></div><div class="ornament right"></div>
					
					<div class="breadcrumbs">
                        {$navtrail}
					</div>
					
					<!--div class="title">Новинки</div>
					
					<div class="row catalog">
						
						<div class="item">
							<div class="mid"><a href="#"><img src="{$tpl_path}images/other/01.jpg" alt="0" /><span>Колье и серьги</span></a></div>
							<div class="bot">
								<div class="price">250 р.</div>
								<div class="in_cart"><a href="#"><b>&nbsp;</b><span>В корзину</span></a></div>
							</div>
						</div>
						
					</div-->

                    {$main_content}
					
				</div>
				<!-- end CONTENT -->
			</div>
			<!-- start LEFT -->
			<div class="left-block">
                {$box_CATEGORIES}
                {$box_FILTERS}
                {$box_CONTENT}
                {$box_INFORMATION}
                {$box_ADD_QUICKIE}
                {$box_LAST_VIEWED}
                {$box_REVIEWS}
                {$box_SEARCH}
                {$box_SPECIALS}
                {$box_FEATURED}
                {$box_LATESTNEWS}
                {$box_ARTICLES}
                {$box_ARTICLESNEW}
                {$box_LOGIN}
                {$box_ADMIN}

                {$box_DOWNLOADS}
                {$box_AFFILIATE}
                {$box_WHATSNEW}
                {$box_NEWSLETTER}
                {$box_BESTSELLERS}
                {$box_INFOBOX}
                {$box_CURRENCIES}
                {$box_LANGUAGES}
                {$box_MANUFACTURERS}
                {$box_MANUFACTURERS_INFO}
                {$box_FAQ}
			</div>
			<!-- end LEFT -->
		</div>
		<!-- start FOOTER -->
		<div class="footer">
			<div class="ornament1"></div><div class="ornament2"></div>
			<div class="text">какая-то инфа</div>
		</div>
		<!-- end FOOTER -->
	</div></div>
</div>