{config_load file="$language/lang_$language.conf" section="index"}

<!-- Контейнер -->
<div id="container">

<!-- Шапка -->
<div id="header">
<img src="{$tpl_path}img/logo.png" alt="{$store_name}" />
</div>
<!-- /Шапка -->

<div id="menu">
</div>

<!-- Навигация -->
<div id="navigation">
</div>
<!-- /Навигация -->

<!-- Центр -->
<div id="wrapper">
<div id="content">

{$main_content}

</div>
</div>
<!-- /Центр -->

<!-- Левая колонка -->
<div id="left">
</div>
<!-- /Левая колонка -->

<!-- Правая колонка -->
<div id="right">
{$box_ADMIN}
</div>
<!-- /Правая колонка -->

<!-- Низ -->
<div id="footer">
</div>
<!-- /Низ -->

</div>
<!-- /Контейнер -->